.App {
    display: flex;
}

.column {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 120px;
    height: 30px;
    border: 1px solid black;
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    font-weight: bold; 
}

.isSelected {
    background-color: grey;
}

.answer {
    min-width: 120px;
    max-width: 300px;
    height: 30px;
    border: 1px dashed black;
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.grey {
    background-color: lightgray;
}

.empty {
    min-width: 120px;
    max-width: 300px;
    height: 30px;
    border: 1px dashed white;
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;  
}

.blank-title {
    color: white;
}

.unique {
    margin-right: 120px;
}

